<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Employees</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <br />
      <a href="/"><button>Return Home</button></a>
      <p class="mt-5">List of Employees</p>
      <br />
      <table class="table table-striped mt-4" id="employees-table">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Job Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <!-- Data will populate here from API -->
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        try {
          const response = await fetch("/api/employees")
          const employees = await response.json()

          const tableBody = document.querySelector("#employees-table tbody")
          employees.forEach((employee) => {
            const row = document.createElement("tr")
            row.innerHTML = `
            <td>${employee.EmployeeID}</td>
            <td>${employee.LastName}, ${employee.FirstName}</td>
            <td>${employee.Department}</td>
            <td>${employee.JobTitle}</td>
            <td>${employee.StartDate}</td>
            <td>${employee.EndDate}</td>
            <td>${employee.Salary}</td>
            `
            tableBody.appendChild(row)
          })
        } catch (error) {
          console.error("Error fetching employee data:", error)
        }
      })
    </script>
  </body>
</html>
