<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New</title>
  </head>
  <body class="container">
    <form onsubmit="createEmployee()">
      <label>First Name</label>
      <input type="text" id="firstName" /><br /><br />
      <label>Last Name</label>
      <input type="text" id="lastName" /><br /><br />
      <input type="submit" value="Create" />
    </form>
    <script src="/js/script.js"></script>
  </body>
</html>
