<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Add New</title>
  </head>
  <body class="container">
    <h3>Add New Employee</h3>
    <form id="employeeForm">
      <label>First Name</label>
      <input type="text" id="FirstName" /><br /><br />
      <label>Last Name</label>
      <input type="text" id="LastName" /><br /><br />
      <label>Email</label>
      <input type="text" id="Email" /><br /><br />
      <label>Department</label>
      <input type="text" id="Department" /><br /><br />
      <label>Job Title</label>
      <input type="text" id="JobTitle" /><br /><br />
      <label>Salary</label>
      <input type="number" id="Salary" /><br /><br />
      <label>Start Date</label>
      <input type="date" id="StartDate" /><br /><br />
      <label>End Date</label>
      <input type="date" id="EndDate" /><br /><br />
      <button type="submit">Submit</button>
    </form>
    <script src="/js/script.js"></script>
  </body>
</html>
